#eclipse
.project
.classpath
.metadata
org.*
bin
buildcraft*
.settings

#idea
*.iml
*.ipr
*.iws
.idea
out

#gradle
build
/.gradle/*
/gradle/*

#runtime
run
eclipse
libs/*
src/blockAccelerator.png
src/blockAccelerator.png.mcmeta
src/blockAccelerator.psd
src/main/java/da3dsoul/scaryGen/mod_ScaryGen/

