# WorldGenMineable numberOfBlocks
public net.minecraft.world.gen.feature.WorldGenMinable field_76541_b

# WorldGenMineable Ore
public net.minecraft.world.gen.feature.WorldGenMinable field_150519_a
# target
public net.minecraft.world.gen.feature.WorldGenMinable field_150518_c

public cofh.lib.world.WorldGenMinableCluster *
public cofh.lib.world.WorldGenSparseMinableCluster *
public cofh.lib.world.WorldGenMinableLargeVein *
public cofh.lib.world.WorldGenMinablePlate *
public cofh.lib.world.WorldGenGeode *